@font-face {
  font-family: 'DMSans';
  src: url('./assets/DMSans.ttf');
}

:root {
  
  /* Colores */

    /* Principales */
      --MainBlue: #0164FF;
      --MainGreen: #25D46B;

    /* Secundarios */
      --TextBlack: #071326;
      --TextDarkGrey: #29364B;
      --TextLightGrey: #BEC5CC;
      --Grey: #5A6577;
      --Blue: #A2CDFF;
      --LightBlue:#E8EDFF;
}

/* Textos */

  /* Titulos */
    h1{
      font-size: 47.78px;
      font-weight: 800;
    }

    h2{
      font-size: 39.81px;
      font-weight: 700;
    }
    
    h3{
      font-size: 33.18px;
      font-weight: 600;
    }
    
    h4{
      font-size: 27.65px;
      font-weight: 500;
    }
    
    h5{
      font-size: 23.04px;
      font-weight: 400;
    }
    
    h6{
      font-size: 19.2px;
      font-weight: 400;
    }

  /* Body text */

    p{
      font-size: 16px;
      font-weight: 500;
    }

    .smallText{
      font-size: 13.33px;
      font-style: italic;
      font-weight: 500;
    }

    .subText{
      font-size: 12.11px;
      font-style: italic;
      font-weight: 500;
      margin: 0;
    }

    .subTextLight{
      font-size: 12.11px;
      font-style: italic;
      font-weight: 250;
      color: #9ea4ab;
    }

body {
  font-family: 'DMSans';
  line-height: 1.5;
  display: flex;
  margin: 0;
  display: flex; 
  width: 100%;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; 
  background-color: #FCFCFC;
  background-size: cover;
  color: #000000;
}

/* Acomodacion paginas */

  .mainDiv {
    display: flex;
    flex-direction: row;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    position: sticky; /* Hace que la navbar sea sticky */
    top: 0; /* Asegura que comience en la parte superior de la ventana de visualización */
    left: 0; /* Alinea la navbar al lado izquierdo de la ventana */
    height: 100vh; /* Opcional: ajusta la altura al 100% del viewport para llenar la columna */
    z-index: 1000; /* Asegura que la navbar siempre esté por encima de otros contenidos */
    background-color: #ffffff; /* Asegura que el fondo sea sólido */
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 4rem;
    padding: 0;
    padding-bottom: 8vh;
  }

  .noMargin{
    margin: 0;
  }

  /* Loader */

  .loaderWrapper {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
  }
  
  .loader {
    width: 60px;
    height: 60px;           /* Asegúrate de tener un tamaño adecuado para el loader */
    border-radius: 50%;     /* Hace que el loader sea un círculo */
    animation: spin 0.5s infinite; /* Anima el loader */
  }
  
  @keyframes spin {
    0% {
      background: conic-gradient(#25D46B 0, #0000 0);
    }
    12.5% {
      background: conic-gradient(#25D46B 45deg, #0000 46deg);
    }
    25% {
      background: conic-gradient(#25D46B 90deg, #0000 91deg);
    }
    37.5% {
      background: conic-gradient(#25D46B 135deg, #0000 136deg);
    }
    50% {
      background: conic-gradient(#25D46B 180deg, #0000 181deg);
    }
    62.5% {
      background: conic-gradient(#25D46B 225deg, #0000 226deg);
    }
    75% {
      background: conic-gradient(#25D46B 270deg, #0000 271deg);
    }
    87.5% {
      background: conic-gradient(#25D46B 315deg, #0000 316deg);
    }
    100% {
      background: conic-gradient(#25D46B 360deg, #0000 360deg);
    }
  }

  /* Sweet alert */

    .swal2-popup{
      border-radius: 30px;
    }

    .swal2-actions{
      margin: 0;
    }

    button.swal2-confirm.swal2-styled{
      background-color: #0164FF;
      color: white;          
      border: none;           
      border-radius: 5px;      
      padding: 10px 20px;      
      cursor: pointer;       
      transition: background-color 0.3s; 
      text-align: center;
      margin: 20px auto;
      display: block;
      box-shadow: none;
      outline: none;
    }

      button.swal2-confirm.swal2-styled:hover {
        background-color: #003d9f; /* Color al pasar el ratón */
      }

      .button.swal2-confirm.swal2-styled:focus{
        box-shadow: none !important;
      }


/* Mobile */
@media screen and (max-width: 768px) {
  body {
      background-color: #FCFCFC;
      background-size: cover;
      background-position: center;
      width: 100%;
  }
}