@font-face {
  font-family: 'DMSans';
  src: url('./assets/DMSans-VariableFont_opsz\,wght.ttf');
}

:root {
  font-family: 'DMSans';
  line-height: 1.5;
  
  /* Colores */

    /* Principales */
      --MainBlue: #0164FF;
      --MainGreen: #25D46B;

    /* Secundarios */
      --TextBlack: #071326;
      --TextDarkGrey: #29364B;
      --TextLightGrey: #BEC5CC;
      --Grey: #5A6577;
      --Blue: #A2CDFF;
      --LightBlue:#E8EDFF;
}

/* Textos */

  /* Titulos */
    h1{
      font-size: 47.78px;
      font-weight: 800;
    }

    h2{
      font-size: 39.81px;
      font-weight: 700;
    }
    
    h3{
      font-size: 33.18px;
      font-weight: 600;
    }
    
    h4{
      font-size: 27.65px;
      font-weight: 500;
    }
    
    h5{
      font-size: 23.04px;
      font-weight: 400;
    }
    
    h6{
      font-size: 19.2px;
      font-weight: 400;
    }

  /* Body text */

    p{
      font-size: 16px;
      font-weight: 500;
    }

    .smallText{
      font-size: 13.33px;
      font-style: italic;
      font-weight: 500;
    }

    .subText{
      font-size: 12.11px;
      font-style: italic;
      font-weight: 500;
    }

    .subTextLight{
      font-size: 12.11px;
      font-style: italic;
      font-weight: 250;
    }

body {
  font-family: "DMSans", sans-serif;
  display: flex;
  margin: 0;
  display: flex; 
  width: 100%;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; 
  background-color: #FCFCFC;
  background-size: cover;
  color: #000000;
}

/* Acomodacion paginas */

  .mainDiv {
    display: flex;
    flex-direction: row;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    position: sticky; /* Hace que la navbar sea sticky */
    top: 0; /* Asegura que comience en la parte superior de la ventana de visualización */
    left: 0; /* Alinea la navbar al lado izquierdo de la ventana */
    height: 100vh; /* Opcional: ajusta la altura al 100% del viewport para llenar la columna */
    z-index: 1000; /* Asegura que la navbar siempre esté por encima de otros contenidos */
    background-color: #ffffff; /* Asegura que el fondo sea sólido */
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 4rem;
    padding: 0;
    padding-bottom: 8vh;
  }


/* Mobile */
@media screen and (max-width: 768px) {
  body {
      background-color: #FCFCFC;
      background-size: cover;
      background-position: center;
      width: 100%;
  }
}