.containerInfoUserProfile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    color: #29364B;
    gap: 1.5rem;
}

.name {
    text-align: center;
}

.name h2 {
    margin: 0;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #BEC5CC;
    padding: 0.5rem 0;
}

.iconEdit img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.iconEdit:hover img {
    filter: invert(50%) sepia(100%) saturate(1109%) hue-rotate(191deg) brightness(95%) contrast(93%);
}

.roleOccupation, .contactInformation, .availability {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #BEC5CC;
}

.role, .ocupation, .number, .email {
    display: flex;
    flex-direction: column;
    width: 48%;
}

label h6 {
    margin: 0 0 0.5rem 0;
    font-weight: 600;
}

.inputsInfo {
    flex: 1;
}

.inputsInfo input, .inputsInfo select, .phoneInput {
    width: 100%;
    margin: 0;
    border: none;
    padding: 0.5rem;
    background-color: transparent;
    outline: none;
    border-radius: 4px;
}

.inputsInfo.enabled input, .inputsInfo.enabled select, .inputsInfo.enabled .phoneInput {
    border: 2px solid #2e8cff;
    background-color: #f0f8ff;
}

.phoneInputContainer {
    width: 100%;
}

.phoneInput {
    border: none; /* Borde eliminado por defecto */
}

.disabledInput {
    border: none !important; /* Eliminamos el borde cuando está deshabilitado */
}

.availability {
    border-bottom: none;
}

.availability div {
    width: 100%;
    text-align: center;
}

.availability h6, .availability p {
    margin: 0;
}
