.title{
  margin-bottom: 0;
}

.content{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 3rem;
  padding: 0;
}

.filters{
  display: flex;
}

.Recientes{
  color: var(--MainBlue);
  font-size: 13.33px;
  font-style: italic;
  font-weight: 500;
  border-bottom: 1px solid var(--MainBlue);
  cursor: pointer;
}

.todos{
  margin-left: 20px;
  font-size: 13.33px;
  font-style: italic;
  font-weight: 500;
  border-bottom: 1px solid var(--TextLightGrey);
  color: var(--TextLightGrey);
  cursor: pointer;
}