.icons{
    display: flex;
    gap: 1vh;
    color: white;
  }

    .pendiente{
      background-color: var(--MainBlue);
      padding: 1vh;
      border-radius: 6px;
    }

    .progreso{
      background-color: #E6B312;
      padding: 1vh;
      border-radius: 6px;
    }

    .completo{
      background-color: var(--MainGreen);
      padding: 1vh;
      border-radius: 6px;
    }


.sectionTitle {
    width: 30%;
    font-size: 20px;
    white-space: nowrap; 
    color: #BEC5CC;
}

.sectionTitle2{
    width: 86%;
    font-size: 20px;
    white-space: nowrap; 
    color: #BEC5CC;
}

.orangeRectangle {
    display: flex;
    align-items: center;
    margin-bottom: -30px;
}



.iconTextContainer {
    border-radius: 7px;
    background-color: #FEF0C7;
    width: 127px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.icon {
    width: 24px; 
    height: 24px; 
    margin-right: 8px;
}

.formGroup{
    display: flex;
    align-items: center;
    margin-bottom: -30px;
}

.cantidades{
    width: 200%;
    display: flex;
    column-gap: 5%;
}
.buttonIcon {
    margin-left: 12px;
    cursor: pointer;
}

.btnCantidades {
    display: flex;
    width: max-content;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.orangeRectangle p {
    margin: 0;
}

.buttonIcon {
    width: 15px;
    height: 10px;
}

.infoDesplegable{
    font-size: 15px;
    font-size: 15px;
    margin: 0px;
}

.d1{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
    margin-top: 30px;
}

    .temporalidad{
        width: 60%;
    }

        .periodo{
            color: var(--TextLightGrey);
            display: flex;
            gap: 2vw;
        }

            .periodoTitle{
                margin-top: 5vh;
            }

            .fechaContainer{
                display: flex;
                gap: 1vw;
            }

    .bitacora{
        width: 40%;
    }