/* RolDetailProject.module.css */

.roles h4 {
    color: #0071ff;
    font-size: 20px;
  }
  
  .rectangle {
    border-bottom: 2px solid #d9d9d9;
    padding: 4vh 0;
    width: 100%;
    box-sizing: border-box; /* Asegúrate de incluir el padding y border en el ancho del elemento */
  }
  
  .cardRender {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    width: 100%;
  }
  
  .rectangle img {
    width: 50px;
    height: 50px;
  }