.projectCard {
  box-sizing: border-box;
  background-color: white;  /* Mueve el fondo al CSS */
  border: 1px solid #ccc;   /* Añade un borde */
  border-radius: 10px;      /* Bordes redondeados */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Sombra para profundidad */
  /* margin-bottom: 20px;      Espacio entre tarjetas */
  /* text-align: center;       Centra el texto */
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectCard:hover {
  /* background-color: rgb(197, 197, 197); */
  scale: 1.03;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

  .upperHalf{
    background: linear-gradient(93deg, #FFF 1%, rgba(196, 218, 255, 0.3) 50%);
    padding: 4vh 2vw; 
    text-align: left;
    border-radius: 10px 10px 0 0;  
    box-sizing: border-box;
  }

    .mainInfo{
      display: flex;
      justify-content: space-between;
      margin-bottom: 2vh;
    }

      .cardLogo{
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
      }

      .noLogo{
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
      }

      progress[value] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        border-radius: 50px;
        background: white;
        height: 10px;
        width: 100%;
      }
        progress[value]::-webkit-progress-bar {
          border-radius: 50px;
          background: white;
        }
        progress[value]::-webkit-progress-value {
          border-radius: 50px;
          background: var(--MainGreen);
        }
        progress[value]::-moz-progress-bar {
          border-radius: 50px;
          background: var(--MainGreen);
        }

  .lowerHalf{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
    box-sizing: border-box;
    padding: 3vh 2vw;
  }
  
    .icons{
      display: flex;
      gap: 1vh;
      color: white;
    }

      .pendiente{
        background-color: var(--MainBlue);
        padding: 1vh;
        border-radius: 6px;
      }

      .progreso{
        background-color: #E6B312;
        padding: 1vh;
        border-radius: 6px;
      }

      .completo{
        background-color: var(--MainGreen);
        padding: 1vh;
        border-radius: 6px;
      }

    .renglon{
      width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break:break-word;
      white-space: normal;
      hyphens: auto; 
    }