/* Estilo para el mensaje de "no hay proyectos" */
.noMatch {
  text-align: center;
  font-size: 1.5em;
  margin: 12rem;
}

.Projects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10vh 6vw;
  width: 100%;
}

/* Estilo para los inputs de filtrado */
.inputsFilters input[type="text"],
.inputsFilters input[type="date"],
header button {
  padding: 0.5rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* Ajusta el ancho según sea necesario */
  box-sizing: border-box;
  margin: 0;
}

.inputsFilters input[type="text"]:focus,
.inputsFilters input[type="date"]:focus {
  outline: none;
  border-color: #007bff; /* Color de resaltado al tener foco */
}

header button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

header button:hover {
  background-color: #0056b3; /* Color más oscuro al pasar el ratón */
}

.head{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.headUserProfile{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.title{
  flex: 1;
}

.profileComponent{
  width: 17%;
}

.inputs{
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  flex: 1;
  justify-content: space-between;
}

.inputsFilters{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
}

.containerCreateProject{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
}

  .searchBar {
    border-bottom: 1px solid var(--TextLightGrey);
    display: flex;
    flex-direction: row;
    align-items: center;

  }

    .searchBar input[type="text"]{
      border: none;
      outline: none;
      padding: 0.5rem;
      font-size: 16px;
      width: 200px; /* Ajusta el ancho según sea necesario */
      box-sizing: border-box;
      margin: 0;
    }

    .inputBuscar input[type="text"]{
      border: none;
      outline: none;
    }