/* Estilo para el título */
.header {
    color: #333; /* Color oscuro para el texto */
  }
  
  /* Estilo para el botón de navegación */
  .navigationButton {
    display: block; /* Para que el botón ocupe toda la línea */
    width: 200px; /* Ancho del botón */
    padding: 10px; /* Espacio interno */
    margin: 20px auto; /* Para centrar el botón */
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto */
    text-align: center; /* Centrar el texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor cuando se coloca sobre el botón */
  }
  
  /* Cambiar el color del botón cuando se coloca el ratón encima */
  .navigationButton:hover {
    background-color: #45a049; /* Cambiar a un tono más oscuro */
  }
  
  /* Estilo para el mensaje de "no hay proyectos" */
  .noMatch {
    text-align: center;
    color: #940000; 
    font-size: 1.5em; /* Tamaño de texto un poco más grande */
    margin-top: 20px; /* Espacio hacia abajo */
  }
  