/* Estilo para el título */
.header {
  color: #333; /* Color oscuro para el texto */
}

.mainDiv{
  display: flex;
  flex-direction: row;
}

.containerContent{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

  .Projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10vh 6vw;
    width: 100%;
  }

  .noMatch{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .header{
    display: flex;
    align-items: first baseline;
    margin-top: 39.6574px;
  }

    .title{
      margin: 0;
    }

.inputBuscar {
  margin: 0;
      padding: 8px 12px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box;
    }
    
.inputBuscar:focus {
      outline: none;
      border-color: #007bff; 
    }

.containerInputs{
  display: flex;
  flex-direction: row;
}

.inputs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: 1rem;
}


.searchBar {
  border-bottom: 1px solid var(--TextLightGrey);
  display: flex;
  flex-direction: row;
  align-items: center;

}

  .searchBar input[type="text"]{
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 16px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    box-sizing: border-box;
    margin: 0;
  }

  .inputBuscar input[type="text"]{
    border: none;
    outline: none;
  }