.projectCardContainer {
  display: flex;
  flex-direction: column;   /* Tarjetas alineadas verticalmente */
  background-color: white;  /* Mueve el fondo al CSS */
  border: 1px solid #ccc;   /* Añade un borde */
  border-radius: 10px;      /* Bordes redondeados */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
  cursor: pointer;
  transition: all 0.3s;
}

  .projectCardContainer:hover{
    scale: 1.03;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

.projectCard {
  padding: 15px 30px;            /* Espacio interno de la tarjeta */
  text-align: left;     /* Centra el texto */
  height: 30vh;
}

  .cardImage{
    height: 20vh;
    margin: auto;
  }

  .Center{
    margin: 20px;
  }