.header{
  display: flex;
  align-items: first baseline;
}

.title{
    margin-bottom: 0;
  }

.projectBody{
    margin-top: 5vh;
}

    .pageDisplay{
        display: flex;
        justify-content: space-between;
    }

        .filterContainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1rem 0;
            gap: 2rem;
        }
        
            .filter{
                display: flex;
                flex-direction: row;
            }
            
                .filter label{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    font-size: 13.33px;
                    font-style: italic;
                    font-weight: 500;
                    color: var(--TextLightGrey);
                    border-bottom: 1px solid var(--TextLightGrey);
                    cursor: pointer;
                }
                
                        .filter label:has(input:checked) {
                        color: var(--MainBlue);
                        border-bottom: 1px solid var(--MainBlue);
                        }
                
                .filter input{
                    align-content: center;
                    width: 1rem;
                    margin: 0;
                    display: none;
                }
                
        .showPage{
            display: block;
        }

        .hidePage{
            display: none;
        }
    
    .flex{
        display: flex;
    }

        .temporalidad{
            width: 60%;
        }